<nav class="navbar navbar-static-top navbar-inverse hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header flex">
      <img height="47px" width="auto" alt="logo" class="logo click-mouse" src="assets/images/logo.svg" ng-click="vm.goHome()" />
      <a ui-sref="home" ng-class="vm.isState('tienda') ? 'active': ''" class="navbar-brand">
        Tienda de Pablo
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="vm.isState('gestion') ? 'active': ''">
          <a ui-sref="products">
            Gestión de productos
          </a>
        </li>
        <li ng-class="vm.isState('about') ? 'active': ''">
          <a ui-sref="about">
            Sobre Pablo</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li ng-class="vm.isState('config')"><a ui-sref="config">Configuración</a></li>
      </ul>

    </div>
  </div>
</nav>

<nav class="navbar navbar-static-top navbar-inverse hidden-sm hidden-md hidden-lg">
  <div class="container-fluid">
    <div class="navbar-header click-mouse" ng-click="vm.collapsed = !vm.collapsed">
      <img height="47px" width="auto" class="logo-xs click-mouse" src="assets/images/logo.svg" ng-click="vm.goHome()" />
      <a class="navbar-brand" ng-bind="vm.titleXs()">
      </a>
      <div class="chevron">
        <span ng-show="vm.collapsed">▲</span> <span ng-show="!vm.collapsed">▼</span>
      </div>
    </div>
    <ul class="nav navbar-nav" ng-show="vm.collapsed">
      <li ng-class="vm.isState('tienda') ? 'active': ''">
        <a ng-click="vm.collapsed = !vm.collapsed" ui-sref="home">
          Tienda de Pablo
        </a>
      </li>
      <li ng-class="vm.isState('gestion') ? 'active': ''">
        <a ng-click="vm.collapsed = !vm.collapsed" ui-sref="products">
          Gestión de productos
        </a>
      </li>
      <li ng-class="vm.isState('about') ? 'active': ''">
        <a ng-click="vm.collapsed = !vm.collapsed" ui-sref="about">
          Sobre Pablo
        </a>
      </li>
      <li ng-class="vm.isState('config') ? 'active': ''">
        <a ng-click="vm.collapsed = !vm.collapsed" ui-sref="config">
          Configuración
        </a>
      </li>

    </ul>

  </div>
</nav>
