<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">
        Tienda de Pablo
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="vm.isState('tienda')"><a ui-sref="home">Tienda</a></li>
        <li ng-class="vm.isState('gestion')"><a ui-sref="products">Gestion de productos</a></li>
        <li ng-class="vm.isState('about')"><a ui-sref="about">Sobre Pablo</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li ng-class="vm.isState('config')"><a ui-sref="config">Configuración</a></li>
      </ul>

    </div>
  </div>
</nav>
