<button type="button" class="btn btn-success" ng-click="main.createProduct()">✚ AÑADIR NUEVO PRODUCTO</button>

<div class="row" ng-if="main.products.length !== 0">
  <div class="col-xs-12 titles-table">
    <div class="col-xs-3 text-center" ng-click="main.orderBy('sku')">
      SKU
      <span ng-show="main.isOrdered('+','sku')">▲</span>
      <span ng-show="main.isOrdered('-','sku')">▼</span>
    </div>
    <div class="col-xs-3 text-center" ng-click="main.orderBy('name')">
      NOMBRE
      <span ng-show="main.isOrdered('+','name')">▲</span>
      <span ng-show="main.isOrdered('-','name')">▼</span>
    </div>
    <div class="col-xs-3 text-center" ng-click="main.orderBy('price')">
      PRECIO (€)
      <span ng-show="main.isOrdered('+','price')">▲</span>
      <span ng-show="main.isOrdered('-','price')">▼</span>
    </div>
  </div>
  <div class="col-xs-12 text-center"  ng-repeat="product in main.products | orderBy: main.order.direction + main.order.category">
    <div class="col-xs-3" >
      {{product.sku}}
    </div>
    <div class="col-xs-3" >
      {{product.name}}
    </div>
    <div class="col-xs-3" >
      {{product.price}}
    </div>
    <div class="col-xs-3" style="display:flex">
      <button type="button" class="btn btn-primary" ng-click="main.modify(product)">✎ <span class="hidden-xs hidden-sm">MODIFICAR</span><span class="hidden-xs hidden-md hidden-xl">MODIF</span></button>
      <button type="button" class="btn btn-danger" ng-click="main.delete(product)">✖ <span class="hidden-xs hidden-sm">ELIMINAR</span><span class="hidden-xs hidden-md hidden-xl">ELIM</span></button>
    </div>
  </div>
</div>
