<div class="row">
  <div class="col-xs-12">
    <div class="flex">
      <h4>
        Modificación del producto ►
      </h4>
      <h4 style="display: inline">
        <b>SKU:</b> {{edit.productBefore.sku}}
        <br/>
        <b>Nombre:</b> {{edit.productBefore.name}}
        <br/>
        <b>Price:</b> {{edit.productBefore.price}}
      </h4>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">

      <p class="form-group">
        <label>Nuevo SKU del producto</label>
        <input type="text" ng-model="edit.productModified.sku" class="form-control">
      </p>
      <p class="form-group">
        <label>Nuevo nombre del producto</label>
        <input type="text" ng-model="edit.productModified.name" class="form-control"  />
      </p>
      <p class="form-group">
        <label>Nuevo precio del producto (€)</label>
        <input type="number" ng-model="edit.productModified.price" class="form-control"  />
      </p>
    </div>

  </div>
  <div class="col-xs-12">
    <button type="button" class="col-xs-3 btn btn-info" ng-click="edit.returnToHome()">◀ VOLVER</button>

    <button type="button" class="col-xs-offset-3 col-xs-3 btn btn-default" ng-click="edit.reset()">✖ BORRAR TODO</button>
    <button type="button" class="col-xs-3 btn btn-primary" ng-click="edit.edit()">✔ GUARDAR MODIFICACIÓN</button>
  </div>

</div>
