<div class="container">

  <div>
    <navbar></navbar>
  </div>

  <h3>
    Bienvenido al catálogo de la tienda de Pablo
  </h3>

  <h5 ng-if="home.products.length === 0">Actualmente no tenemos ningun producto en venta, clique en <a ui-sref="products">Gestion de productos</a> para añadir nuevos productos en venta</h5>
  <h5 ng-if="home.products.length !== 0">Lista de productos en venta:</h5>


  <div class="row" ng-if="home.products.length !== 0">
    <div class="col-xs-12 titles-table">
      <div class="col-xs-4 text-center" ng-click="home.orderBy('sku')">
        SKU
        <span ng-show="home.isOrdered('+','sku')">▲</span>
        <span ng-show="home.isOrdered('-','sku')">▼</span>
      </div>
      <div class="col-xs-4 text-center" ng-click="home.orderBy('name')">
        NOMBRE
        <span ng-show="home.isOrdered('+','name')">▲</span>
        <span ng-show="home.isOrdered('-','name')">▼</span>
      </div>
      <div class="col-xs-4 text-center" ng-click="home.orderBy('price')">
        PRECIO
        <span ng-show="home.isOrdered('+','price')">▲</span>
        <span ng-show="home.isOrdered('-','price')">▼</span>
      </div>
    </div>
    <div class="col-xs-12 text-center"  ng-repeat="product in home.products | orderBy: home.order.direction + home.order.category">
      <div class="col-xs-4" >
        {{product.sku}}
      </div>
      <div class="col-xs-4" >
        {{product.name}}
      </div>
      <div class="col-xs-4" >
        {{product.price}}
      </div>
    </div>
  </div>


</div>
