<div class="col-xs-12 flex">

  <h2 class="text-center">
    Bienvenid@ al catálogo de la tienda <img height="47px" width="auto" alt="logo" src="assets/images/logo.svg" /> de Pablo
  </h2>
</div>

<h3 ng-if="!home.loadFailed && home.products.length === 0">Actualmente no tenemos ningún producto en venta, clique en <a ui-sref="products">Gestión de productos</a> para añadir nuevos artículos en venta</h3>
<h3 ng-if="home.loadFailed">Hemos detectado <b style="color: red;">problemas de conexión al servidor</b>, para intentar arreglarlo clique en <a ui-sref="config">Configuración</a> para intentar arreglarlo cambiando la url del Backend</h3>
<h4 ng-if="home.products.length !== 0">Lista de productos en venta:</h4>
</div>


<div class="row" ng-if="home.products.length !== 0">
  <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
    <div class="col-xs-12 background-products-title">
      <div class="col-xs-4 text-center click-mouse" ng-click="home.orderBy('sku')">
        <b>SKU</b>
        <span ng-show="home.isOrdered('+','sku')">▲</span>
        <span ng-show="home.isOrdered('-','sku')">▼</span>
      </div>
      <div class="col-xs-4 text-center click-mouse" ng-click="home.orderBy('name')">
        <b>NOMBRE</b>
        <span ng-show="home.isOrdered('+','name')">▲</span>
        <span ng-show="home.isOrdered('-','name')">▼</span>
      </div>
      <div class="col-xs-4 text-center click-mouse" ng-click="home.orderBy('price')">
        <b>PRECIO (€)</b>
        <span ng-show="home.isOrdered('+','price')">▲</span>
        <span ng-show="home.isOrdered('-','price')">▼</span>
      </div>
    </div>
    <div class="col-xs-12 text-center" ng-class="index % 2 ? 'background-products-pair': 'background-products-odd'"  ng-repeat="(index,product) in home.products | orderBy: home.order.direction + home.order.category">
      <div class="col-xs-4" uib-tooltip="{{product.sku}}" >
        {{product.sku}}
      </div>
      <div class="col-xs-4" uib-tooltip="{{product.name}}" >
        {{product.name}}
      </div>
      <div class="col-xs-4" uib-tooltip="{{product.price}}" >
        {{product.price}}
      </div>
    </div>
  </div>
</div>
